
.icon-happy:before { content: '\e801'; } /* '' */
.icon-wink:before { content: '\e802'; } /* '' */
.icon-wink2:before { content: '\e813'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */